<h4>New Movies</h4>

<form method="post" action="/movies">
  <label for="title">Title</label>
  <input type="text" name="title" id="movie_title"><br>

  <label for="publishedYear"> Published Year</label>
  <input type="Number" name="publishedYear" id="movie_category"><br>

  <label for="director"> Director </label>
  <input type="text" name="director" id="movie_director"><br>

  <label for="actor">Actor</label>
  <input type="text" name="actor" id="movie_actor"><br>

  <button>Submit</button><br>
</form>
